<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", user-scalable="no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/dist/docs-assets/ico/favicon.png">

    <title>Movie Route</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/dist/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 80%; float: right; width: 70%; padding:1 }
      #control_panel {
        float: left;
        width: 30%;
        text-align: left;
        padding-top: 20px
      }
      #directions-panel {
        height: 100%;
        float: left;
        width: 30%;
        overflow: auto;
      }
      #panel {
        position: absolute;
        top: 150px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }


    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrN_qDQmG0UNOVl9QZWXnKvueP8xPlEwU&sensor=true">
    </script>
    
    
    <!-- This is my Google maps javascript stuff-->
    <script type="text/javascript">
      var sf = new google.maps.LatLng(37.7771187, -122.4196396);

      
      var geocoder;
      var map;
      var waypoints;
      var longitude;
      var latitude;
      var location;
      
      var movie_latlong;
      var bounds;
      var markers;
      var iterator;
      
      function initialize() {
        movie_latlong = [];
        markers = [];
        iterator = 0;
        var mapOptions = {
          center: sf,
          zoom: 12
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }
      
      function seeMarkers() {
        bounds = map.getBounds();
        //console.log(markers.length)
        var min_lat = map.getCenter().lat();
        var max_lat = map.getCenter().lat();
        var min_lng = map.getCenter().lng();
        var max_lng = map.getCenter().lng();
        
        for (var i=0; i<movie_latlong.length; i++) {
          console.log('got here')
        // Some functionality to recenter the map
          thislat = movie_latlong[i].lat();
          thislng = movie_latlong[i].lng();
          
          if (thislat<min_lat) {
            min_lat = thislat
          }
          if (thislat>max_lat) {
            max_lat = thislat
          }
          if (thislng<min_lng) {
            min_lng = thislng
          }
          if (thislng>max_lng) {
            max_lng = thislng
          }
          //if ( !map.getBounds().contains(movie_latlong[i]) ) {
          //  console.log('Adjust the map!')
          //    bounds.extend(movie_latlong[i]);
          //    var newCenterPointLng = (map.getBounds().getCenter().lng() + marker.getPosition().lng()) / 2;
          //    var newCenterPointLat = (map.getBounds().getCenter().lat() + marker.getPosition().lat()) / 2;
          //    map.panTo(marker.getPosition());
          //    map.setCenter(new google.maps.LatLng(newCenterPointLat, newCenterPointLng));
          //    if (!map.getBounds().contains(marker.getPosition())){
          //      z = map.getZoom();
          //      map.setZoom(z-1);
          //    }
          }
         var sw = new google.maps.LatLng(min_lat, min_lng); 
         var ne = new google.maps.LatLng(max_lat, max_lng);
         var newbounds = new google.maps.LatLngBounds(sw,ne)
         
         map.fitBounds(newbounds)
        }
        
        //if (map.getZoom()>12) {
        //  map.setZoom(12);
        //}

      
      function createMarkerlist(){
        //waypoints = document.getElementById("points")
        JSONwaypoints = eval(points.value);
        for (pair in JSONwaypoints) {
          latitude = JSONwaypoints[pair][pair][0];
          longitude = JSONwaypoints[pair][pair][1];
          movie_latlong.push(new google.maps.LatLng(latitude, longitude))
        }
        //console.log("Creating new Marker List")
      }
      
      function drop() {
        deleteMarkers()
        createMarkerlist()
        seeMarkers();
        for (var i = 0; i < movie_latlong.length; i++) {
          setTimeout(function() {
            markers = addMarker();
          }, i * 200);
        }


      }

      function addMarker() {

        marker = new google.maps.Marker({
        position: movie_latlong[iterator],
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP
        });
        markers.push(marker);
        iterator++;
        return markers
      }
      
      
      function clearMarkers() {
        setAllMap(null);
        //console.log("Clearing markers")
      }
      
      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        movie_latlong = [];
        markers = [];
        iterator = 0;
        //console.log("Deleting markers")
      } 
    
      function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        } 
      }   
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  

    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Movie Route</h1>
        <p class="lead">Some text about the web app.</p>
      </div>
       
      

    </div><!-- /.container -->
    <div id="map-canvas"></div>
    <div id="panel" style="margin-left: -52px">
      <button id="drop" onclick="drop()">Drop Markers</button>
    </div>
    <div id="control_panel">
    <div style="margin:20px;border-width:2px;">
      <b>Waypoints:</b> <br>
      <input id="moviesearch" type="text" placeholder="Movie title" size="50">
        <button id="findmovie">Search</button>
        <div id="points"></div>
    </div>
    </div>
    <div class="starter-template">
        <p>Some other text about the web app.</p>
      </div>
    <div id="directions-panel"></div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
      <!--This is my database javascript stuff -->
    <script src="static/dist/js/data.js"></script>
    <script>
    // Search send (press enter) - jquery
    $(document).ready(function(){
      $('#findmovie').click(function() {
         var movie = $('#moviesearch').val();
         getWaypoints(movie);
      });
    });
  </script>
  </body>
</html>