{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">   
      <h1>On Location</h1>
      </div>
      <p class="lead">Search for your address to get filming locations near you.</p>
      <input id="address_search" type="text" placeholder="Address" size="50">
      <br>
      <button id="getmovie" onclick='getMovie();'>Get Movies Near Me</button>
    </div>
  </div>
</div><!-- /.container -->

<div class="well"><div id="map-canvas"></div>
{% endblock %}